 <div class="blog-card">

    <div class="card-title">
      <a href="/comment/{{id}}" class="title-content" id="title-content">{{title}}</a>

      <p class="title-content">posted by {{user.username}} on {{format_date date_created}}</p>

    </div>
    

    <div class="card-body">
      <p>
        {{content}}
      </p>
    </div>
  </div>
