<div class="blog-card">

    <div class="card-title">
      <p class="title-content" id="title-content">{{blog.title}}</p>

      <p class="title-content">posted by {{blog.user.username}} on {{format_date blog.date_created}}</p>

    </div>
    

    <div class="card-body">
      <p>
        {{blog.content}}
      </p>
    </div>
  </div>


    <div class="comment-card">

        <div class="comment-title">

        </div>


        <div class="comment-body">
            <p id="comment-content">
                {{description}}
            </p>

            <p id="comment-tag">
                -lorentino, 5/8/2020
            </p>
        </div>
    </div>